{% for container in container_list %}
    <div id="container-{{container.id}}">
        {% if container.getChildren|length %}
        <!--clicking on bullet points produces an htmx swap with containerList.html targetted at parent div through the function view called container_collapse-->
        <!--the container_collapse view returns an up-to-date, with the container's attributes, rendered template-->
            {% if container.collapsed %}
            <i class="fa-solid fa-caret-right" hx-target="#container-{{container.id}}" hx-post="{% url 'notebook_2:container_collapse' container.id%}" hx-trigger="click" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'></i>
            {% else %}
            <i class="fa-solid fa-caret-down"  hx-target="#container-{{container.id}}" hx-post="{% url 'notebook_2:container_collapse' container.id%}" hx-trigger="click" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'></i>
            {% endif %}
        {% else %}
        <!--bullet point is just a circle when container doesn't have subcontainers-->
            <i class="circle"></i>
        {% endif %}

        <div>
            <a href="{% url 'notebook_2:container_detail' container.id %}">{{container}} </a>
            <!--getItems and countTreeItems are methods from model that help count data displayed on container view-->
            {% if container.getChildren %}
                <span> {{ container.getItems|length }} ({{ container.countTreeItems }})</span>
            {% else %}
                <span>{{ container.getItems|length }}</span>
            {% endif %}
        </div>

        <div>
            <!--button for editing/updating container-->
            <a class="fa-solid fa-pen" href= "{% url 'notebook_2:container_update' container.id %}"></a>
            <!--button for deleting a container-->
            <a class="fa-solid fa-x" href= "{% url 'notebook_2:container_delete' container.id %}"></a>
        </div>
        
        <!--if there are subcontainers-->
        {% if container.getChildren|length %}
            <!--hide div (display:none;) if container.collapsed == True. 'collapsed' is an attribute the model has and its saved in database-->
                <div {% if container.collapsed %} style="display: none;" {% endif %} id="{{container.id}}-{{ forloop.counter }}" class="child_group">
                    {% include "notebook_2/containersList.html" with container_list=container.getChildren %}
                </div>
        {% endif %}

    </div>
{% endfor %}