{% extends 'notebook_2/main.html' %}
{% block content %}
<div>
    <!--handle case page being called from inside container or not-->
    {% if container %}
        <h2>Add new item to "{{ container }}"</h2>
    {% else %}
        <h2>Add new item</h2>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        
        <!--handle case page being called from inside container or not-->
        {% if container %}
            <input type="submit" onclick="window.location='{% url 'notebook_2:container_detail' container.id %}' ; return false;" value="cancel">
        {% else %}
            <input type="submit" onclick="window.location='{% url 'notebook_2:containers' %}' ; return false;" value="cancel">
        {% endif %}
        
        <input type="submit" value="+">
    </form>
</div>
{% endblock content %}