<!--with htmx in containerDetail view's template, this div replaces one with the same id on 'containerDetail.html' -->
<div hx-swap-oob="true" id="item_list">
{% if item_list %}
        {% for item in item_list %}
            {% if item.actionable == container.seeingActionables %}
                {% include 'notebook_2/item.html' %}
            {% endif %}
        {% endfor %}
{% endif %}
</div>

<!--with htmx in containerDetail view's template, this anchor replaces/updates nav bar button with the same id-->
<a hx-swap-oob="true" id="new-item" href="{% url 'notebook_2:item_create' %}?actionable={{container.seeingActionables}}&container_pk={{container.id}}">&#43;</a>