<style>
    .not-collapsible {
        display:inline-block;
        background-color: black;
        color: #444;;
        width: 12px;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        height: 12px;
        border-radius: 50%;
    }
    .nav_bar {
            list-style-type: none;
            padding: 0;
            overflow: hidden;
            background-color: #e4433a;
            top: 0;
            width: 550px;
    }


    .nav_bar a {
            display: inline-block;
            color: white;
            text-align: center;
    }

    .nav_bar a:hover {
            background-color: #c82922;
            color: white;
    }

    #search-form {
        display: inline;
        float: left;
        height: 25px;
    }

    #home {
        float: left;
        height:max-content;
        width: 15%;
    }

    #search-bar{
        height: 25px;
        padding: 0px 0px;
        padding-left: 5px;
        margin: 0px 0px;
        border: 0px 0px;
        border: none;
        text-decoration: none;

    }

    #search-bar:focus{
        border: none;
        height: 25px;
        padding-left: 10px;
        margin: 0px 0px;
        border: 0px 0px;
        text-decoration: none;
        outline: none;

    }
    
    #username {
        display: inline;
        color: white;
        float: left;
        margin-right: 50px;
    }

    #right_info{
        display: inline;
        float: right;
    }

    #new-item {
        width: 30px;
    }

    #log-out {
        width: 70px;
    }

</style>
<body>
    <div class="nav_bar">
        <a id="home" href="{% url 'notebook_2:containers' %}">home</a>

        <form action="{% url 'notebook_2:search' %}" method="get" id="search-form">
            <input id="search-bar" type="text" placeholder="search" name="search_query">
        </form>

        <div id="right_info">
            <a id="new-item" href="{% url 'notebook_2:item_create' %}?actionable={{container.seeingActionables}}&container_pk={{container.id}}">&#43;</a>
            <a id="log-out" href="{% url 'notebook_2:logout' %}"> logout </a>
        </div>
        <div style="color: white;">
            {{request.user|title}}
        </div>
    </div>
    {% block content %}


    {% endblock content %}

</body>

<script>
    if ("{% url 'notebook_2:containers' %}" === "{{request.path}}"){
        var x = document.getElementById("home")
        var y = document.getElementById("new_item")
        x.style.backgroundColor = "#c82922";
        x.style.color = "white";
    }


</script>