<!DOCTYPE html>
<html>
<body>
    <div class="nav_bar">
        <a id="home" href="{% url 'notebook_2:containers' %}">home</a>

        <form action="{% url 'notebook_2:search' %}" method="get" id="search-form">
            <input id="search-bar" type="text" placeholder="search" name="q">
        </form>

        <div id="right_info">
            <a id="new-item" href="{% url 'notebook_2:item_create' container.id|default:1 %}?actionable={{container.seeingActionables}}">&#43;</a>
            <a id="log-out" href="{% url 'notebook_2:logout' %}"> logout </a>
        </div>
        <div style="color: white;">
            {{request.user|title}}
        </div>
    </div>
    {% block content %}


    {% endblock content %}

</body>

<script>
    if ("{% url 'notebook_2:containers' %}" === "{{request.path}}"){
        var x = document.getElementById("home")
        var y = document.getElementById("new_item")
        x.style.backgroundColor = "#c82922";
        x.style.color = "white";
    }


</script>

</html>