{% load static %}
<hr>
<div class="title-bar">
    <h2>About us</h2>
</div>

<div class="about-container">
    <div class="image-container">
        <div class="about-title">
            <p>Welcome to Company</p>
        </div>
        <img src="{% static 'mock_company/guy_working.jpg' %}" alt="">
        <div class="description">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>

<div class="about-description">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sem metus, posuere in molestie non, varius at sapien. Aliquam ligula nisi, fringilla id massa in, accumsan commodo diam. Cras non neque eu est porta bibendum. Nulla eget faucibus magna. Nulla rutrum elit quis quam suscipit, luctus convallis justo ultricies. Aliquam semper vehicula lacus. Donec velit dui, finibus et posuere eget, lacinia eget ipsum. Maecenas sagittis gravida magna sed placerat. Curabitur venenatis, massa a fermentum malesuada, mauris arcu tempor nunc, non ultrices purus nisi sit amet neque. Etiam in venenatis velit, nec sagittis odio.</p>

    <p>hasellus sit amet risus rutrum arcu gravida malesuada. Phasellus ullamcorper turpis molestie rhoncus posuere. Etiam ultrices nulla malesuada, vehicula odio quis, vulputate odio. Nulla facilisi. Nullam condimentum tortor arcu, cursus faucibus tellus bibendum quis. Mauris feugiat nec massa nec molestie. Praesent sodales erat et bibendum imperdiet. Mauris id orci turpis. Morbi id nunc eget massa feugiat interdum.</p>

    <p>Proin porta cursus ullamcorper. Morbi sed ornare dolor. Duis commodo dui vitae rhoncus viverra. Vivamus suscipit, nisi suscipit ornare malesuada, metus ante pellentesque erat, sit amet ornare orci quam quis odio. Etiam varius ullamcorper orci id gravida. Ut consectetur, lectus ornare maximus consectetur, nulla nibh maximus erat, a efficitur leo lorem id erat. Proin vel velit vitae erat viverra porttitor ac a diam. Nullam maximus neque turpis, vitae malesuada velit sodales id. Vivamus elementum risus vitae mi elementum imperdiet. Vivamus ultricies efficitur ex in euismod. Aliquam nisl libero, varius ac lacinia eget, accumsan in libero. Maecenas a tempus ligula. Nulla facilisi. Maecenas at velit magna.</p>

    <p>Cras pellentesque leo sed tortor congue, sed dignissim mauris feugiat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam vulputate dictum convallis. Integer vel felis in neque commodo aliquam. Pellentesque id nulla ut quam rhoncus imperdiet nec vitae ipsum. Etiam vel ante felis. Pellentesque non hendrerit ipsum. Mauris luctus augue sit amet odio aliquam, vitae imperdiet quam pharetra. Vestibulum quis porta ex, in aliquam nulla. In lobortis dictum metus. Nullam sit amet lacus mauris. Sed elementum arcu urna. Nunc tempor purus sed massa egestas, in vehicula risus malesuada. Proin ac dapibus quam. Aenean pulvinar ultricies mauris, sit amet accumsan nisi porta eu.</p>
</div>

</div>