{% load static %}
<hr>
<div class="title-bar">
    <h2>Our process</h2>
</div>

<div class="processes-container">
    <div class="process" id="process_1">
        <div class="image">
            <img src="{% static 'mock_company/process_step_1.png' %}" alt="">
        </div>
        <div class="process-description">
            <h2>voluptatem accusantium</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>
    <div class="process" id="process_2">
        <div class="image">
            <img src="{% static 'mock_company/process_step_2.png' %}" alt="">
        </div>
        <div class="process-description">
            <h2>voluptatem accusantium</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>
    <div class="process" id="process_3">
        <div class="image">
            <img src="{% static 'mock_company/process_step_3.png' %}" alt="">
        </div>
        <div class="process-description">
            <h2>voluptatem accusantium</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>
</div>

