{% load static %}
<hr>
<div class="title-bar">
    <h2>Our services</h2>
</div>

<div class="services-container">
    <div class="service" id="service_1">
        <img src="{% static 'mock_company/service_3.jpg' %}" alt="">
        <div class="service-description">
            <h2>voluptatem accusantium</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>
    <div class="service" id="service_2">
        <img src="{% static 'mock_company/service_1.jpg' %}" alt="">
        <div class="service-description">
            <h2>voluptatem accusantium</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>
    <div class="service" id="service_3">
        <img src="{% static 'mock_company/service_2.jpg' %}" alt="">
        <div class="service-description">
            <h2>voluptatem accusantium</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>
</div>