<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>My test page</title>
  </head>
  <body>
    <h1>{{ box }}</h1>
    
    <form action="{% url 'notebook:box_detail' box.id %}" method="get">
      Filter by:
      <input type="checkbox" id="done" name="done" 
      {% if done %} checked> {% else %} > {% endif %}
      <label for="done">done</label>
    
      <input type="checkbox" id="actionable" name="actionable"
      {% if actionable %} checked> {% else %} > {% endif %}
      <label for="actionable">actionable</label>

      <input type="submit" value="filter">
    </form>

    <hr>

    <form action="{% url 'notebook:idea_add' box.id %}" method="get">
        <input type="submit" value="new idea">
    </form>


      {% if idea_list %}
    <ol>
        {% for idea in idea_list %}
          <li>
            {% if idea.actionable %}
              act
            {% else %}
              non-act
            {% endif %}
            (<a href="{% url 'notebook:idea_edit' idea.id %}">edit</a>
            |
            <a href="{% url 'notebook:idea_delete' idea.id %}">delete</a>)

            {% if idea.done %}
              <s>{{idea.text}}</s>
            {% else %}
              {{idea.text}}
            {% endif %}

          </li>
        {% endfor %}
    </ol>
      {% else %}
      <p>No results for this box.</p>
      {% endif %}

  </body>
</html>